<h1>Editing user</h1>

<% form_remote_for(@user, :update => "admin_navigation_tabnav_content") do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= show_link @user %> |
<%= index_link :users %>
