<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Nav link:</b>
  <%=h @page.nav_link %>
</p>

<p>
  <b>Body:</b>
  <%=h @page.body %>
</p>




<%= edit_link @page %> |
<%= index_link :pages %>
