<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'oneaim', 'modalbox' %>
    <%= javascript_include_tag :defaults, 'modalbox/modalbox' %>
  </head>
  <body>

    <div id="logo">
      [OneAim]
    </div>
    
    <%= render :partial => 'common/login' %>

<div id="main">

    <div id="nav_one">
      <% tabnav(:admin, :generate_css => true) do %>
        <%= yield %>
      <% end %>
    </div>
</div>
  </body>
</html>
